{{ header }}
<div class="container">
  {% if breadcrumbs %}
    <ol class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
        {% if breadcrumb.href and not breadcrumb.current %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% else %}
          <li class="text-muted {{ breadcrumb.current ? 'current' : 'disabled' }}">{{ breadcrumb.text }}</li>
        {% endif %}
      {% endfor %}
    </ol>
  {% endif %}
  <div style="height: 700px">
    {% set iframesrc = 'https://lapinydenab.com/invoice/iframe/' %}
    {% set iframesrc = iframesrc ~ plisio_invoice_id %}
    <iframe src="{{ iframesrc }}" scrolling="no" style="overflow:hidden;height:100%;width:100%;top:0;left:0;right:0;bottom:0" height="100%" width="100%"></iframe>
  </div>
</div>
{{ footer }}